<p>links works!</p>

<a target="_blank" style="padding-top: 8px;" href="https://v9.material.angular.io">Material Docs: v:9.2.4</a>

<div style="padding-top: 8px;">
    <button mat-raised-button routerLink="/card">Card</button>
</div>

<div style="padding-top: 8px;">
    <button mat-raised-button routerLink="/sidenav">Sidenav</button>
</div>

<div style="padding-top: 8px;">
    <button mat-raised-button routerLink="/autocomplete">Auto-Complete Input</button>
</div>

<div style="padding-top: 8px;">
    <button mat-raised-button routerLink="/datepicker">Date Picker</button>
</div>

<div style="padding-top: 8px;">
    <button mat-raised-button routerLink="/datatable">Data Table</button>
</div>

<div style="padding-top: 8px;">
    <button mat-raised-button routerLink="/virtualscrolling">Virtual Scrolling</button>
</div>
