<p>card works!</p>

<mat-card style="margin-left: 30px; margin-right: 30px;">
    <mat-card-title>Card Title</mat-card-title>
    <mat-card-content>Content Here</mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button>OK</button>
    </mat-card-actions>
</mat-card>

<mat-card style="margin: 30px; width: 300px;" >
    <mat-card-title>Card Title</mat-card-title>
    <mat-card-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus asperiores rerum porro rem nobis facilis impedit incidunt, saepe cum vel sequi fuga non laudantium. Possimus perferendis doloribus quidem neque ipsam.
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button>OK</button>
    </mat-card-actions>
</mat-card>
