<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- my button -->
<mat-toolbar color="primary" class="navbar">
  <div>Navbar</div>
  <div>
    <span></span>
    <span routerLink="/button">Buttons</span>
    <span routerLink="/headings">Headings</span>
    <span routerLink="/grid">Grid</span>
  </div>
</mat-toolbar>
<button mat-raised-button>Hello World</button>
<!-- <button mat-raised-button routerLink="/button">Buttons</button> -->
<!-- <button mat-raised-button routerLink="/headings">Headings</button> -->

<router-outlet></router-outlet>

<!-- <div class="mat-display-4">This is a display</div>
<div class="mat-display-3">This is a display</div>
<div class="mat-display-2">This is a display</div>
<div class="mat-display-1">This is a display</div>

<div class="mat-headline">This is a display for h1</div>
<div class="mat-title">This is a display for h2</div>
<div class="mat-subheading-2">This is a display for h3</div>
<div class="mat-subheading-1">This is a display for h4</div>

<div class="mat-typography">
  <h1>This is a display for h1</h1>
  <h2>This is a display for h2</h2>
  <h3>This is a display for h3</h3>
  <h4>This is a display for h4</h4>
</div>

<div class="">
  <h1>This is a display for h1</h1>
  <h2>This is a display for h2</h2>
  <h3>This is a display for h3</h3>
  <h4>This is a display for h4</h4>
</div> -->