<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- my button -->
<mat-toolbar color="primary" class="navbar">
  <div>Navbar</div>
  <div>
    <span></span>
    <span style="cursor: pointer;" routerLink="/links">Links</span>
    <span style="cursor: pointer;" routerLink="/button">Buttons</span>
    <span style="cursor: pointer;" routerLink="/headings">Headings</span>
    <span style="cursor: pointer;" routerLink="/grid">Grid</span>
    <span style="cursor: pointer;" routerLink="/accord">Accordion</span>
  </div>
</mat-toolbar>
<button mat-raised-button>Hello World</button>
<!-- <button mat-raised-button routerLink="/button">Buttons</button> -->
<!-- <button mat-raised-button routerLink="/headings">Headings</button> -->

<router-outlet></router-outlet>

<!--  -->
<!-- HERE IS WHERE I LEFT OFF AT -->
<!--  -->
<!-- https://www.youtube.com/watch?v=RFbPLKUhpqE&list=PLC3y8-rFHvwilEuCqFGTL5Gt5U6deIrsU&index=19 -->