<p>button works!</p>

<style>
    button {
        margin-right: 3rem;
    }
</style>

<button class="mat-button">click me</button>
<button class="mat-raised-button">click me</button>
<button class="mat-flat-button">click me</button>
<button 
    class="mat-stroked-button"
    [matMenuTriggerFor]="whatever"
>has menu</button>

<mat-menu #whatever>
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
    <button mat-menu-item [matMenuTriggerFor]="mysub">Styling Framework</button>
</mat-menu>

<mat-menu #mysub>
    <button mat-menu-item>Bootstrap</button>
    <button mat-menu-item>AngularMaterial</button>
    <button mat-menu-item>Fuse Admin</button>
</mat-menu>

<!--  -->
<!--  -->
<!--  -->
<!-- this is were I left off on this tutorial -->
<!-- https://youtu.be/jUfEn032IL8?t=1154 -->



