<p>accordion works!</p>

<mat-accordion>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Angular Fundamentals
            </mat-panel-title>
            <mat-panel-description>
                Total Duration : 3 hours
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the panel content. Add course details.</p>
        <mat-action-row>
            <button mat-raised-button>Enroll</button>
        </mat-action-row>
    </mat-expansion-panel>
    
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Angular Material
            </mat-panel-title>
            <mat-panel-description>
                Total Duration : 2 hours
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the panel content. Add course details.</p>
        <mat-action-row>
            <button mat-raised-button>Enroll</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>

<p style="padding-top: 55px;">Only-One can be open above</p>
<hr>
<p style="padding-bottom: 55px;">Multiple can be open below</p>


<mat-accordion multi="true">

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                multi-Angular Fundamentals
            </mat-panel-title>
            <mat-panel-description>
                Total Duration : 3 hours
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the panel content. Add course details.</p>
        <mat-action-row>
            <button mat-raised-button>Enroll</button>
        </mat-action-row>
    </mat-expansion-panel>
    
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                multi-Angular Material
            </mat-panel-title>
            <mat-panel-description>
                Total Duration : 2 hours
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the panel content. Add course details.</p>
        <mat-action-row>
            <button mat-raised-button>Enroll</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>


<p style="padding-top: 55px;"></p>
<hr>
<p style="padding-bottom: 55px;">toggle group below</p>

<mat-button-toggle-group style="margin-right: 8px;" name="fontStyle" aria-label="Font Style" #tt="matButtonToggleGroup">
    <mat-button-toggle value="Angular">Angular</mat-button-toggle>
    <mat-button-toggle value="Vue">Vue</mat-button-toggle>
    <mat-button-toggle value="React">React</mat-button-toggle>
</mat-button-toggle-group>{{ tt.value }}

<div style="margin-top: 8px;">
    <div>
        Multiple
    </div>
    <mat-button-toggle-group multiple style="margin-right: 8px;" name="fontStyle" aria-label="Font Style" #t2="matButtonToggleGroup">
        <mat-button-toggle value="Angular">Angular</mat-button-toggle>
        <mat-button-toggle value="Vue">Vue</mat-button-toggle>
        <mat-button-toggle value="React">React</mat-button-toggle>
    </mat-button-toggle-group>{{ t2.value }}
</div>

<p style="padding-top: 55px;"></p>
<hr>
<p style="padding-bottom: 55px;">Single toggle button's below</p>
  
<mat-button-toggle #myMadeupVar style="margin-right: 8px; margin-bottom: 20px;">
    Toggle
</mat-button-toggle>{{ myMadeupVar.checked }}

<mat-button-toggle 
    #myMadeupVar2 
    checked 
    style="margin-left: 20px;margin-right: 8px;">
    Toggle2 starts as true
</mat-button-toggle>{{ myMadeupVar2.checked }}


<hr>
<div >

    <p>Icon possibilities</p>
    <div>
        <a href="https://fonts.google.com/icons?selected=Material+Icons" target="_blank">Google Font API</a>
    </div>

    <span class="material-icons">
        grade
    </span>
    <div>
        <mat-icon color="primary">grade</mat-icon>
    </div>
    
</div>

<div>
    <hr>
    <p>Badges</p>
    <div><span matBadgeOverlap="false" matBadge="5">Notifications</span></div>
</div>
<p style="margin-top: 260px;">Bottom here ??</p>
<!-- Left off at -->

<!-- https://youtu.be/jUfEn032IL8?t=1531 -->