<p>accordion works!</p>

<mat-accordion>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Angular Fundamentals
            </mat-panel-title>
            <mat-panel-description>
                Total Duration : 3 hours
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the panel content. Add course details.</p>
        <mat-action-row>
            <button mat-raised-button>Enroll</button>
        </mat-action-row>
    </mat-expansion-panel>
    
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Angular Material
            </mat-panel-title>
            <mat-panel-description>
                Total Duration : 2 hours
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the panel content. Add course details.</p>
        <mat-action-row>
            <button mat-raised-button>Enroll</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>

<p style="padding-top: 55px;">Only-One can be open above</p>
<hr>
<p style="padding-bottom: 55px;">Multiple can be open below</p>


<mat-accordion multi="true">

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                multi-Angular Fundamentals
            </mat-panel-title>
            <mat-panel-description>
                Total Duration : 3 hours
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the panel content. Add course details.</p>
        <mat-action-row>
            <button mat-raised-button>Enroll</button>
        </mat-action-row>
    </mat-expansion-panel>
    
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                multi-Angular Material
            </mat-panel-title>
            <mat-panel-description>
                Total Duration : 2 hours
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the panel content. Add course details.</p>
        <mat-action-row>
            <button mat-raised-button>Enroll</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>